.container_profile{
    position: relative;
    height: 500px;
    width: 500px;
    background-repeat: none;
    background-size: cover;
    background-position: top center;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    p{
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 250px 0 10px;
    }
}